<% wrap_layout :layout do %>
<div class="articles">
  <article>
    <header>
        <h1><%= current_page.title %></h1>
        <p class="date"><%= current_page.date.strftime('%b %e, %Y') %></p>
    </header>
    <%= yield %>
  </article>
</div>
<% end %>