---
title: About
---

<h1>About</h1>

<p><strong>Geoffrey Smith</strong> is a developer, that's pretty much it. Please contact me at <a href="mailto:smithgeoffreyd+github@gmail.com">smithgeoffreyd+github@gmail.com</a>!